doctype html
html(lang='en')
  head
    meta(property='og:title', content='PebblePost® - Programmatic Direct Mail')
    meta(property='og:image', content='http://pebblepost.com/img/homepage-hero.jpg')
    meta(property='og:site_name', content='PebblePost')
    meta(property='og:description', content='Digital marketers use our platform to transform real-time online activity into dynamically rendered, personalized direct mail delivered into a postal hub within 12–24 hours, every day.')
    link(rel='stylesheet', type='text/css', href='https://cloud.typography.com/6899874/6119952/css/fonts.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='Digital marketers use our platform to transform real-time online activity into dynamically rendered, personalized direct mail delivered into a postal hub within 12–24 hours, every day.')
    title PebblePost&reg; | PebblePost Platform
    link(rel='icon', type='image/png', href='http://pebblepost.com/img/logo_square_small.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(href='/css/house.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/site.css', title='Site', type='text/css', media='screen', charset='utf-8')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js', charset='utf-8')
    style.
      .nav-pills>li.active>a, .nav-pills>li.active>a:hover {
      background: transparent;
      color: #ffffff;
      }
  body
    script(type='text/javascript').
      $(document).ready(function(){
      $(".casestudies_link").click(function() {
      $('html, body').animate({
      scrollTop: $("#casestudies").offset().top
      }, 2000);
      });
      });
    nav.dynamic.navbar.navbar-default.navbar-fixed-top.navbar-inverse.scrolled.top-scroll
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand.visible-xs(href='/')
            img.img-responsive(src='/img/logo.png', alt='PebblePost', style='width: 120px')
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.hidden-lg.hidden-sm.hidden-md
            li.active(role='presentation')
              a(href='http://pebblepost.com/platform') Platform
            li(role='presentation')
              a(href='http://pebblepost.com/tangible-media') Tangible Media
            li(role='presentation')
              a(href='/#casestudies') Case Studies
            li(role='presentation')
              a(href='http://pebblepost.com/about-us') About Us
            li(role='presentation')
              a(href='/#getstarted') Contact Us
            li(role='presentation')
              a(href='https://dashboard.pebblepost.com', target='_blank') Login
        .row.hidden-xs
          .col-md-3.col-sm-3.logo
            a(href='/')
              img(src='/img/logo.png', style='height: 18px', alt='PebblePost')
          .col-md-9.col-sm-9
            ul.nav.nav-pills.pull-right
              li.active(role='presentation')
                a(href='http://pebblepost.com/platform') Platform
              li(role='presentation')
                a(href='http://pebblepost.com/tangible-media') Tangible Media
              li(role='presentation')
                a(href='/#casestudies') Case Studies
              li(role='presentation')
                a(href='http://pebblepost.com/about-us') About Us
              li(role='presentation')
                a(href='/#getstarted') Contact Us
              li(role='presentation')
                a(href='https://dashboard.pebblepost.com', target='_blank') Login
    #hero(style='position: relative; overflow: hidden; ')
      .video_holder.hidden-xs.visible-sm.visible-lg.visible-md(style='position: absolute; width: 100%; opacity: .6')
        video(autoplay='', loop='', muted='', width='100%', height='100%', preload='none')
          source(src='http://pebblepost.com/out.mp4', type='video/mp4')
          |  Your browser does not support the video tag.
      .container(style='position: absolute; width: 100%;')
        .v-xxl
        .v-xxl.hidden-xs
        .v-xl.hidden-xs
        .row
          .col-md-10.col-md-offset-1
            .row
              .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.center
                img.hidden-xs(src='img/platform-hero-icons-3.png', alt='PebblePost Platform')
        .v-xxl
        .row
          .col-md-12.center
            h1.greene_street_green.dropshadow Tangible Success, Measurable Results.
            .v-xl
            .row
              .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.col-sm-8.col-sm-offset-2
                h4.white.dropshadow
                  p
                    | Digital marketers recapture online interest and convert more customers with our solutions for remarketing, acquisition, prospecting, and brand awareness.
      .hidden-xs.home_nav
        script(type='text/javascript').
          $(document).ready(function(){
          $(".casestudies_link").click(function() {
          $('html, body').animate({
          scrollTop: $("#casestudies").offset().top
          }, 2000);
          });
          });
        nav.dynamic.navbar.navbar-default.navbar-fixed-top.navbar-inverse.scrolled.top-scroll
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              |  
              a.navbar-brand.visible-xs(href='/')
                img.img-responsive(src='/img/logo.png', alt='PebblePost', style='width: 120px')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.hidden-lg.hidden-sm.hidden-md
                li.active(role='presentation')
                  a(href='http://pebblepost.com/platform') Platform
                li(role='presentation')
                  a(href='http://pebblepost.com/tangible-media') Tangible Media
                li(role='presentation')
                  a(href='/#casestudies') Case Studies
                li(role='presentation')
                  a(href='http://pebblepost.com/about-us') About Us
                li(role='presentation')
                  a(href='/#getstarted') Contact Us
                li(role='presentation')
                  a(href='https://dashboard.pebblepost.com', target='_blank') Login
            .row.hidden-xs
              .col-md-3.col-sm-3.logo
                a(href='/')
                  img(src='/img/logo.png', style='height: 18px', alt='PebblePost')
              .col-md-9.col-sm-9
                ul.nav.nav-pills.pull-right
                  li.active(role='presentation')
                    a(href='http://pebblepost.com/platform') Platform
                  li(role='presentation')
                    a(href='http://pebblepost.com/tangible-media') Tangible Media
                  li(role='presentation')
                    a(href='/#casestudies') Case Studies
                  li(role='presentation')
                    a(href='http://pebblepost.com/about-us') About Us
                  li(role='presentation')
                    a(href='/#getstarted') Contact Us
                  li(role='presentation')
                    a(href='https://dashboard.pebblepost.com', target='_blank') Login
    .wrap.featuresx.trim
      .container.product
        .row
          .col-xs-12.col-sm-7.col-md-7.col-lg-6.col-lg-offset-1.col-md-offset-0
            .v-xxl
            .v-xl
            h2.ribbs_blue.text-normal
              | The first ad server for tangible media.
              .v-xl
            .v-xxl
            .row
              .col-md-11
                .row.product_tiles.img-circle
                  .col-md-3.col-md-push-8.col-sm-3.col-xs-3
                    img.img-responsive(src='img/eventcapture.png', alt='Event Capture')
                  .col-md-8.col-md-pull-3.col-xs-9.col-sm-8
                    h4.next_day_grey Event Capture
                    .v-md
                    .content
                      | As a customer browses your site, our platform automatically builds a targeted mailing list based on their page visits, searches and other events like cart abandonment.
                .v-xxl
                .v-xxl
                .row.product_tiles.img-circle
                  .col-md-3.col-sm-3.col-xs-3
                    img.img-responsive(src='img/campaignmanagement.png', alt='Campaign Management')
                  .col-md-8.col-xs-9.col-sm-8
                    h4.next_day_grey Campaign Management
                    .v-md
                    .content
                      | Our dashboard makes it easy to define customer segments, manage creative assets and set schedules and budgets across all of your programmatic direct mail campaigns.
                .v-xxl
                .v-xxl
                .row.product_tiles.img-circle
                  .col-md-3.col-md-push-8.col-sm-3.col-xs-3
                    img.img-responsive(src='img/addressgraph.png', alt='Address Graph')
                  .col-md-8.col-md-pull-3.col-xs-9.col-sm-8
                    h4.next_day_grey Address Graph
                    .v-md
                    .content
                      | Our proprietary graph links multiple identifiers across browsers, devices, email and postal to determine the most accurate addressability.
                .v-xxl
                .v-xxl
                .row.product_tiles.img-circle
                  .col-md-3.col-sm-3.col-xs-3
                    img.img-responsive(src='img/dynamicproduction.png', alt='Dynamic Production')
                  .col-md-8.col-xs-9.col-sm-8
                    h4.next_day_grey Dynamic Production
                    .v-md
                    .content
                      | Within 12-24 hours of a user visit, Programmatic Postcard&trade; and Programmatic Catalog&trade; are dynamically rendered and distributed to major postal hubs for first-class delivery.
                .v-xxl
                .v-xxl
                .row.product_tiles.img-circle
                  .col-md-3.col-md-push-8.col-sm-3.col-xs-3
                    img.img-responsive(src='img/analytics.png', alt='Real-Time Analytics')
                  .col-md-8.col-md-pull-3.col-xs-9.col-sm-8
                    h4.next_day_grey Real-Time Analytics
                    .v-md
                    .content
                      | Digital marketers gain insights into performance across campaigns, including response path activity, conversions, filterable by any day or date range and more.
                .v-xxl
                .v-xxl
                .row.product_tiles.img-circle
                  .col-md-3.col-sm-3.col-xs-3
                    img.img-responsive(src='img/everyday.png', alt='Continuous Optimization')
                  .col-md-8.col-xs-9.col-sm-8
                    h4.next_day_grey Continuous Optimization
                    .v-md
                    .content
                      | Our reporting delivers real-time insight into your programmatic campaign performance. Response, conversion and return-on-marketing-spend data optimize the next day&apos;s mail.
                .v-xxl
                .v-xxl
          .col-xs-12.col-sm-5.col-md-5.col-md-offset-1x.col-lg-5.col-lg-offset-1x
            .features_sidebar
              .v-xxl
              .v-xl
              .row
                .col-md-12
                  h3
                    | Solutions for Digital Marketers
                    .h-sm
              hr
              .v-xl
              .row
                .col-md-2.col-sm-3.col-xs-2
                  img.img-reponsive.center(src='img/remarketing.svg', alt='Remarketing')
                .col-md-8.col-sm-9.col-xs-10.deep_slate
                  h4 Remarketing
                  |  Recall and convert customer visits.
              .v-xl
              .row
                .col-md-2.col-sm-3.col-xs-2
                  img.img-reponsive.center(src='img/acquisition.svg', alt='Acquisition')
                .col-md-8.col-sm-9.col-xs-10.deep_slate
                  h4 Acquisition
                  |  Find and reach new customers in-home.
              .v-xl
              .row
                .col-md-2.col-sm-3.col-xs-2
                  img.img-reponsive.center(src='img/prospecting.svg', alt='Prospecting')
                .col-md-8.col-sm-9.col-xs-10.deep_slate
                  h4 Prospecting
                  |  Pique interest from engaged visitors.
              .v-xl
              .row
                .col-md-2.col-sm-3.col-xs-2
                  img.img-reponsive.center(src='img/brandawareness.svg', alt='Brand Awareness')
                .col-md-8.col-sm-9.col-xs-10.deep_slate
                  h4 Brand Awareness
                  |  High-impact relevancy into home.
              .v-xxl
              hr
              .v-xxl
              .row
                .col-md-12.center
                  img.img-responsive(src='img/dashboard-v3.png', alt='Programmatic Direct Mail® Dashboard')
                  .v-lg
                  h3.text-demibold The PebblePost Dashboard
                  .v-sm
                  .row
                    .col-md-10.col-md-offset-1  Manage campaigns with familiar digital controls and reporting.
                  .v-xxl
                  .row
                    .col-md-6
                      h4.left Configure
                      .v-sm
                      ul.left.text-thirteen.slim
                        li Creative
                        li Budget &amp; Schedule
                        li A/B tests
                        li Frequency Caps
                        li Geo-targeting
                        li Suppression Lists
                    .col-md-6
                      h4.left Reporting
                      .v-sm
                      ul.left.text-thirteen.slim
                        li Total Sends
                        li Responses
                        li Conversions
                        li Cohort Analysis
                        li(title='Return on Ad Spend') ROAS
                  .v-xxl
    a(name='getstarted')
    .wrap.contact
      .v-xl
      .container
        .row
          .col-md-8.col-md-offset-2
            h2
              p Get in touch with PebblePost
            .tagline
              p
                | Let&apos;s talk about your digital marketing goals. We&apos;ll get back to you in real time.
        .v-lg
        .row
          .col-md-8.col-md-offset-2
            script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2.js')
            script.
              hbspt.forms.create({
              css: '',
              portalId: '2721609',
              formId: '54b75a14-71d9-4bcf-957d-cab4b39fb866',
              submitButtonClass: "btn btn-lg btn-info",
              cssClass: '',
              errorClass: "has-error form-control",
              errorMessageClass: "hide",
              //redirectUrl: "http://pebblepost.com/?x=ty#getstarted",
              //inlineMessage: '',
              onFormReady: function($form) {
              $("#hsForm_54b75a14-71d9-4bcf-957d-cab4b39fb866 label *").css("font-family","Source Sans Pro").addClass('text-white').css('font-size','16px').css('font-weight','normal');
              //$("#hsForm_54b75a14-71d9-4bcf-957d-cab4b39fb866 input,#hsForm_54b75a14-71d9-4bcf-957d-cab4b39fb866 select ,#hsForm_54b75a14-71d9-4bcf-957d-cab4b39fb866 textarea ").css("font-family","Source Sans Pro").css("font-size","14px").css('padding','6px 12px').css('width','100%');
              }
              });
            style(media='screen').
              #hsForm_54b75a14-71d9-4bcf-957d-cab4b39fb866 label {
              float: left;
              margin-right: 20px;
              dtext-align: right;
              width: 120px;
              }
              .hs-form-required {
              color: #9df020 !important;
              margin-left: 5px;
              }
              .has-error {
              border: 2px solid #ff5d5d !important;
              }
              .hs-form .hs-input, .hs-form textarea.hs-input {
              max-width: 400px !important;
              }
              .hs-input {
              display: block;
              width: 100%;
              height: 34px;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #555;
              background-color: #fff;
              background-image: none;
              border: 1px solid #ccc;
              border-radius: 4px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
              -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
              }
              textarea.hs-input {
              height: 60px;
              }
              .hs-form-field {
              margin-bottom: 25px;
              max-width: 560px;
              }
              .hs_submit {
              max-width: 540px;
              text-align: right;
              }
              .submitted-message {
              font-size: 20px;
              color: #9df020 !important;
              }
      .v-xl
    .wrap.blue.hide
      .container
        .row
          .col-md-10.col-md-offset-1.center
            h2 What&apos;s your call to action?
            .v-xxl
            |  
            a.btn.btn-success-bright.btn-xl(href='/contact') Get started
    .wrap.footer
      .container
        .row
          .col-md-3.col-md-offset-2.col-xs-offset-0.col-xs-12
            a(href='/')
              img(src='/img/logo.png', style='height: 18px', alt='PebblePost')
            .v-xs
            h5.text-success-bright Programmatic Direct Mail&reg;
            .v-md
            div(style='color: #b1b1b1; line-height: 20px;')
              a(href='https://www.google.com/maps/place/36+Cooper+Sq,+New+York,+NY+10003')
                | 36 Cooper Square, 4th Floor
                br
                | New York, NY 10003-7118
              .v-sm
              |  
              a(href='mailto:hello@pebblepost.com') hello@pebblepost.com
              .v-sm
              |  
              a(href='tel:+18557370730') (855) 737-0730
          .col-md-2.col-xs-4
            .v-md.visible-xs
            ul.nav.nav-pills.nav-stacked
              li.active.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/platform') Platform
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/tangible-media') Tangible Media
              li.trim-vert(role='presentation')
                a.trim-vert(href='/#casestudies') Case Studies
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/about-us') About Us
              li.trim-vert(role='presentation')
                a.trim-vert(href='/#getstarted') Contact Us
          .col-md-2.col-xs-4
            .v-md.visible-xs
            ul.nav.nav-pills.nav-stacked
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://dashboard.pebblepost.com', target='_blank') Login
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://blog.pebblepost.com') Blog
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/documents/privacy-policy') Privacy Policy
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/documents/security') Security Policy
              li.trim-vert(role='presentation')
                a.trim-vert(href='http://pebblepost.com/documents/terms') Terms of Use
          .col-md-2.col-xs-4
            div
              ul.nav.nav-pills.nav-stacked
                li
                  a.vert-trim(href='https://twitter.com/pebblepostpdm')
                    span.fa.fa-twitter.text-muted(style=' vertical-align: middle; font-size: 30px;')
                li
                  a.vert-trim(href='https://www.linkedin.com/company/pebblepost')
                    span.fa.fa-linkedin.text-muted(style=' vertical-align: middle; font-size: 30px;')
                li
                  a.vert-trim(href='https://www.instagram.com/pebblepostpics/')
                    span.fa.fa-instagram.text-muted(style=' vertical-align: middle; font-size: 30px;')
    .mail_edge.hide
      .v-sm
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://pebblepost.com/js/unslider-min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
      if ( ($(window).height() + 1500) < $(document).height() ) {
      $('#top-link-block').fadeIn('slow').affix({
      // how far to scroll down before link "slides" into view
      offset: {top:1500}
      });
      }
      });
    span#top-link-block(style='display: none;')
      a.scrollup(href='#top', onclick="$('html,body').animate({scrollTop:0},'slow');return false;")
        i.fa.fa-chevron-up.text-faint
    script(type='text/javascript').
      $(document).ready(function(){
      $('.nav a').on('click', function(){
      $(".navbar-toggle").click() //bootstrap 3.x by Richard
      });
      $(".optout").click(function(){
      var r = confirm("If you click OK, we will set an 'Opt Out' cookie which will disable PebblePost's collection of interest-based data for this browser or client. You may still receive direct mail from our partners, but it will not be tailored according to your online interests as collected during activity on this browser. Once the opt-out process is complete, you'll be immediately returned to PebblePost.com." );
      if (r == true) {
      window.location = "http://px0.pbbl.co/opt-out";
      } else {
      }
      });
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57572908-1', 'auto');
      ga('send', 'pageview');
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='https://cloud.typography.com/6899874/6119952/css/fonts.css')
    script(type='text/javascript').
      $(document).ready(function(){
      var slider = $('.slider1').unslider({
      animateHeight: false,
      arrows: false,
      delay: 5000,
      autoplay: false
      });
      $(".unslider-nav").appendTo(".case_study_nav");
      });
script(type='text/javascript').
  $(document).scroll(function() {
  if ($(window).scrollTop() > 147) {
  $(".dynamic.navbar.navbar-default.navbar-fixed-top").addClass("fix-scroll").removeClass("top-scroll");
  } else {
  $(".dynamic.navbar.navbar-default.navbar-fixed-top").removeClass("fix-scroll").addClass("top-scroll");
  }
  });
  $(document).ready(function(){
  if ($(window).scrollTop() > 147) {
  $(".dynamic.navbar.navbar-default.navbar-fixed-top").addClass("fix-scroll").removeClass("top-scroll");
  }
  else {
  $(".dynamic.navbar.navbar-default.navbar-fixed-top").removeClass("fix-scroll").addClass("top-scroll");
  }
  });
script.
  window._pp = window._pp || [];
  _pp.siteUId = "PP_TEST_9";
  _pp.siteId = 1010;
  (function() {
  var ppjs = document.createElement('script');
  ppjs.type = 'text/javascript';
  ppjs.async = true;
  ppjs.src = ('https:' == document.location.protocol ? 'https:' : 'http:') +
  '//cdn.pbbl.co/r/' + _pp.siteId + '.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ppjs, s);
  })();
script#hs-script-loader(type='text/javascript', async='', defer='', src='//js.hs-scripts.com/2721609.js')


