body {
	font-family: 'lato';
}

.navbar {
	min-height: 70px;
	font-family: 'lato';
	font-size: 16px;
}

.navbar-links-right {
	margin-top: 20px;
    margin-right: 50px;
}

.navbar-toggle {
	margin-top: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color:transparent;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.brand-text {
	/*width: 60%;*/
	margin-top: 15px;
}

@media (max-width: 421px) { 
	.brand-text {
		display: none !important;
	}
}

.hero-image-container {
	text-align: center;
	position: relative;
}

.hero-image {
	width: 100%;
}

h2.hero-headline { 
   position: absolute; 
   top: 5%;
   width: 100%;
   font-size: 5.5vw;
   padding: 0px 10px;
   font-style: normal; 
   font-weight: 500; 
   line-height: 1em;
}

h2.hero-headline-thin {
	font-weight: 100;
	top: 15%;  
}

p.hero-description {
   position: absolute; 
   top: 35%; 
   width: 100%;
   font-size: 3.5vw;
   padding: 0px 20px;
   font-style: normal; 
   font-weight: 400; 
   line-height: 1em;
}

h4.hero-cta-white {
	color: white;
	position: absolute; 
	top: 80%;
	font-size: 2.7vw;
	padding: 0px 20px;
	width: 100%;
}

button.hero-btn {
	position: absolute; 
	font-size: 2.6vw;
	color: white;
	top: 90%;
	width: 40%;
	background-color: #d9534f;
    border-color: #d43f3a;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    margin-left: 30%;
}

.testimonial-container {
	margin:30px 10px;
	text-align:center;
}

.testimonial-description {
	line-height: 1.5;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 3.2vw;
    font-weight: 300;
}

@media (max-width: 599px) { 
	.testimonial-description {
		font-size: 5vw;
	}
}

.testimonial-person-image-container {
	width: 25%;
	margin-left:37%;
	font-size: 3vw;
	line-height:1.1;
}

.testimonial-person-image-name {
	font-weight:300;
}

.key-features-container {
	text-align: center;
	padding-top: 10px;
	background-color: rgba(151, 151, 151, 0.188235);
}

.key-features-headline {
	font-size: 48px;
}

.features {
	font-size: 28px;
}

.feature-icon {
	width: 30%;
}

.monitors {
	text-align: center;
	background-color: rgba(151, 151, 151, 0.188235);
}

.monitor-img-container {
	padding: 40px 0px;
}

.monitor-img {
	width:95%;
}

.mit-logos-container {
	width: 100%;
	text-align: center;
}

.mit-logo {
	width: 25%;
	margin: 0px 4%;
}

.contact-form-container {
	text-align: center;
}
